.skills-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 50px;
  background-color: #000; 
  color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-container:hover {
  transform: translateY(-5px);
  background-color: #141414;
}

.skills-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.skill-item {
  margin-bottom: 15px;
}

.skill-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.skill-bar {
  width: 100%;
  height: 20px;
  background-color: #333; 
  border-radius: 10px;
  overflow: hidden;
}

.skill-fill {
  height: 100%;
  background-color: #ffeb00; 
  border-radius: 10px;
  transition: width 0.3s ease; 
}

.skill-percentage {
  text-align: right;
  margin-top: 5px;
  font-size: 0.9em;
  color: #cccccc;
}
@media screen and (max-width: 740px) {
  .skills-container {
    padding: 15px;
  }
}